<table align="center" >
      <h1 align="center"><Das Zweitgolf Text-Adventure>In Deinem Rucksack ist:</h1>
      <p align="center">
      	<%
      		if session['key'] == '1' then @inventar='ein Schlüssel<br>' else @inventar='noch nichts...'end
      		if session['messer'] =='1' then @inventar+='ein altes, rostiges Messer<br>' end
      		if session['geld'] >= 1 then @inventar+=session['geld'].to_s+' Euro<br>' end
      		if session['goldbarren'] =='1' then @inventar+='ein Goldbarren<br>' end
      		if session['holzwolle'] =='1' then @inventar+='ein bißchen Holzwolle<br>' end
      		if session['eimer'] =='1' then @inventar+='ein Eimer<br>' end
      		if session['zig1'] =='1' then @inventar+='eine selbstgedrehte Zigarette<br>' end
      		if session['key2'] =='1' then @inventar+='ein großer, alter Schlüssel<br>' end
      		if session['map1'] == '1' then @inventar+='<a class="link" href="/map1">eine Karte</a><br>' end
      		if session['phones'] == '1' then @inventar+='ein Paar Kopfhörer<br>' end
      		if session['mottek'] == '1' then @inventar+='ein Mottek<br>' end
      		if session['intro'] == '1' then @inventar+='eine Kassette<br>' end
      		if session['intro'] == '1' then @inventar+='<a class="link" href="/walkman">ein Walkman<br>' end
      	%>
      	<%=@inventar%><br>
      <a href="#" onclick="history.go(-1)">Zurück</a></p>
      </table>
   
