<table align="center" >
      <h1 align="center">In Deinem Rucksack ist:</h1>
      <p align="center">
      	<%
      		if !session['key'] then session['key'] = '0' end
      		if !session['geld'] then session['geld'] = 0 end
      		if session['key'] == '1' then @inventar='ein Schlüssel<br>' else @inventar='noch nichts...<br>'end
      		if session['messer'] =='1' then @inventar+='ein altes, rostiges Messer<br>' end
      		if session['geld'] >= 1 then @inventar+=session['geld'].to_s+' Euro<br>' end
      		if session['goldbarren'] =='1' then @inventar+='ein Goldbarren<br>' end
      		if session['holzwolle'] =='1' then @inventar+='ein bißchen Holzwolle<br>' end
      		if session['eimer'] =='1' then @inventar+='ein Eimer<br>' end
      		if session['zig1'] =='1' then @inventar+='eine selbstgedrehte Zigarette<br>' end
      		if session['zig1'] == '1' && session['feuer'] =='1' then @inventar+='<a class="link" href="/rauchen">(willst Du sie rauchen?)</a><br>' end
      		if session['key2'] =='1' then @inventar+='ein großer, alter Schlüssel<br>' end
      		if session['map1'] == '1' then @inventar+='<a class="link" href="/map1">eine Karte</a><br>' end
      		if session['phones'] == '1' then @inventar+='ein Paar Kopfhörer<br>' end
      		if session['mottek'] == '1' then @inventar+='ein Mottek<br>' end
      		if session['intro'] == '1' then @inventar+='eine Kassette<br>' end
      		if session['walkman'] == '1' then @inventar+='<a class="link" href="/walkman">ein Walkman<br>' end
      		if session['map2'] == '1' then @inventar+='<a class="link" href="/map2">die Karte für das Erdgeschoss</a><br>' end
      		if session['dieter'] == '1' then @inventar+='der Zettel auf dem "Dieter: 505151" steht<br>' end
      		if session['seil'] == '1' then @inventar+='ein Seil<br>' end
      		if session['key4'] == '1' then @inventar+='noch ein Schlüssel<br>' end
      		if session['feuer'] == '1' then @inventar+='ein Feuerzeug<br>' end
      		if session['draht'] == '1' then @inventar+='ein Stück Draht<br>' end
      		if session['key3'] == '1' then @inventar+='ein Schlüsselbund (mit einem kleinen und einem großen Schlüssel)<br>' end
      		if session['brief'] == '1' then @inventar+='ein Brief mit äusserst brisantem Inhalt<br>' end
      		if session['unterlagen'] == '1' then @inventar+='ein Haufen sinnloser Unterlagen<br>' end
      		if session['map3'] == '1' then @inventar+='<a class="link" href="/map3">die Karte für die erste Etage</a><br>' end
      		if session['leiter'] == '1' then @inventar='nichts, weil Du den irgendwo abgestellt hast...<br>' end
      			#session['fenster4'] = '2'
      			#session['stuhl1'] = '0'
   		%>
      	<%=@inventar%><br>
      <a href="#" onclick="history.go(-1)">Zurück</a></p>
      </table>
   
