<table align=center>
  <br><b><p align=center>Raum 5 1.OG: Der Rechner<br>login:</b>
  <form align="center" action="log" method="post">
          <br>
          login:_____
   <input align=right type="text" name="name" autofocus="autofocus"/>____<br>
   password:_
      <input align=right type="text" name="pw" />____<br>
   <br>
   <input align=right type="submit" value="Anmelden"/>
   </p>
  </form></table>