 <html>
 	<head>
 		<link rel="shortcut icon" href="http://0.0.0.0:9292/data/zgico.ico">
		<link rel="icon" href="http://0.0.0.0:9292/data/zgico.ico">
 		<title>Das Zweitgolf Text-Adventure</title>
 	</head>
 	<body>
 		<%= yield %>
	</body>
</html>
