 <html>
 	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 		<link rel="shortcut icon" href="http://0.0.0.0:9292/favicon.ico">
		<link rel="icon" href="http://0.0.0.0:9292/favicon.ico">
 		<title>Das Zweitgolf Text-Adventure</title>
 		<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
 		<script src="/main.js"></script>
 	</head>
 	<body>
 		<%= yield %>
	</body>
</html>
