<table align=center>
  <br><b><p align=center>Hallo...<br>Bitte gib Deinen Namen ein:</b>
  <form align="center" action="welcome" method="post">
          <br>
   <input align=right type="text" name="username" autofocus="autofocus"/><br />
   <br>
   <input align=right type="submit" value="Anmelden" />
   </p>
  </form></table>

