<body style="background:#aaa;">
<div id="room">
<table align="center" >
  <h1 align="center">KellerKarte</h1>
  <div style="background:url(map.png);width:30em;margin:0 auto;border:solid black;border-radius: 25px">
    <pre>
                        --KellerKarte--
    
    
                      3:Raum mit Fenster                              
                            |   5:Waschküche
                            ↓       ↓              (EG)          
                   (1)-(2)-(3)-(4)-(5)-(6)         _|              
                        |           | 6:Radio    _|                
                        -------(8)-(7)-(9)-(10)_|                  
                       /            ↓        |
                 Geheimgang     7:Bücher     ↓
                                        10:Treppenhaus
    </pre>
</div>  <p align="center">
<a href="#" onclick="history.go(-1)">Die Karte wieder einpacken</a>
  </p>
</table>
</div>
</body>
