<body style="background:black;">
<div id="pool" >
<table align="center" >
  <h1 align="center">Im Garten am Swimmingpool</h1>
  <div style="width:30em;margin:0 auto;">
    <pre></pre>
  </div>
  <p align="center">
    <% #session['pool'] = 90
      @room='Du gehst zum Pool und schaust ihn Dir genauer an...<br>'
      if session['pool'] <= 99 && session['kaefer'] != '1'  then @room += 'Du siehst, daß etwas auf dem Grund des Pools liegt,<br>
        kannst aber nicht genau erkennen, was es ist.<br>
        Leider is der Pool zu tief um hinunter zu springen.<br>' end
        @room+='Am Rand des Pools sind zwei Knöpfe.<br><br>'
      if session['pool'] >= 100 && !session['kaefer'] then @room += 'Der Pool ist jetzt randvoll mit Wasser.<br>Das seltsame etwas das auf seinem Grund lag<br> kommt nun langsam an die Oberfläche geschwommen.<br>
        Du gehst rüber...<br>Es sieht aus wie ein dicker, fetter Käfer.<br>Er versucht aus dem Pool zu entkommen, um nicht zu ertrinken.<br><br>
        <a class="link" href="kaefer1">Willst Du ihm raus helfen?</a><br>' end
      if session['pool'] >= 100 && session['kaefer'] == '1' then @room += 'Der Pool ist randvoll mit Wasser.<br>Die Wasseroberfläche ist ganz still.<br>Ein Blatt schwimmt geräuschlos an Dir vorbei,<br>sonst ist nichts besonderes zu sehen.<br><br>' end
      if session['pool'] >= 100 && session['kaefer'] == '2' then @room += 'Der Pool ist randvoll mit Wasser.<br>Die Wasseroberfläche ist ganz still.<br>Ein Blatt schwimmt geräuschlos an Dir vorbei,<br>sonst ist nichts besonderes zu sehen.<br><br>' end
      if session['pool'] <= 99 then @room+='<br><a class="link" href="knoepfe">Die Knöpfe betätigen.</a><br>' end
      if session['eimer'] == '2' then @room+='<a class="link" href="pool1">Den Eimer im Pool entleeren.</a><br>' end
      if session['leiter'] == '1' && session['pool'] <= 99 then @room+='<a class="link" href="poole">Versuchen mit der Leiter in den Pool zu gelangen.</a><br>' end
      if session['leiter'] == '2' && session['pool'] <= 99 then @room+='<a class="link" href="poole">Versuchen die Leiter runter in den Pool zu klettern.</a><br>' end
      if session['leiter'] == '3' && session['pool'] <= 99 then @room+='<a class="link" href="poole">Versuchen die Leiter runter zu klettern.</a><br>' end
      @room+='<a class="link" href="garten">Weg vom Pool</a><br><a class="link" href="bagpack">Deinen Rucksack durchsuchen.</a>'
    %>
    <%= @room%>
  </p>
</table>
</div>
</body>
