<table align="center" >
  <h1 align="center">Die selbstgedrehte Zigarette</h1>
  <div style="width:30em;margin:0 auto;">
    <pre></pre>
</div>  <p align="center">
    Du rauchst die Zigarette...<br>
    Sie schmeckt sehr gut; leicht s端sslich.<br>
    Leicht befl端gelt gehst Du weiter.<br>
    Ein wohliges Gef端hl breites sich in Dir aus.<br>
    "<%=session['name']%>, so ein witziger Name...", denkst Du.<br><br>
<a href="#" onclick="history.go(-1)">Zur端ck</a>
  </p>
</table>