<body style="background:black;">
<div id="room">
<table align="center" >
  <h1 align="center">Raum 6 EG</h1>
  <div style="width:30em;margin:0 auto;">
          <% if session['fenster3'] != '1' then @viewp=
'            |---------||     ||          ||            |
            |---------||     ||          ||            |
            |---------||     ||          ||            |
            |---------||     ||          ||            |
'
          else @viewp=
'            |   -   - |      ||          ||            |
            |     -   |      ||          ||            |
            | -      -|      ||          ||            |
            |    -    |      ||          ||            |
'end%>

    <pre>
            ___________      ______________            |
<%=@viewp%>
            |_________|O     ||p==       ||            |
                             ||          ||            |
                             ||          ||            |
                             ||          ||            |
         ____________________||__________||____________|
                                                        \
    </pre>
  </div>
  <p align="center">
    <%= @linesp%>
  </p>
</table>
</div>
</body>
