<table align="center" >
	<h1 align="center"><%= @room.title%></h1>
	<div style="width:30em;margin:0 auto;">
		<pre><%= @room.viewp%></pre>
</div>	<p align="center">
		<%= @room.linesp%>
	</p>
</table>