<table align="center" >
  <h1 align="center">Raum 3 1.OG: Der Schreibtisch</h1>
  <div style="width:30em;margin:0 auto;">
    <pre>
    </pre>
  </div>
  <p align="center">
    <%
      @room='Du untersuchst die Fächer...<br>'
      if session['brief'] != '1' then @room+='In der ersten Schublade liegt ein Brief.<br>' else @room+='Die erste Schublade ist leer.<br>' end
      if session['schublade'] != '1' then @room+='Die zweite Schublade ist verschlossen.<br>' else @room+='Die zweite Schublade ist leer.<br>' end
      @room+='Und in dem großen Fach rechts steht eine Schatulle.<br>Möchtest Du:<br><br>'
      if session['brief'] != '1' then @room+='<a class="link" href="/brief">Den Brief lesen?</a><br>' else @room+='<a class="link" href="/brief">Den Brief zurück legen?</a><br>' end
      if session['schublade'] != '1' then @room+='<a class="link" href="/schublade">Versuchen die zweite Schublade mit einem Werkzeug zu öffnen?</a><br>' end 
      @room+='<a class="link" href="/schatulle">Die Schatulle öffnen?</a><br><a class="link" href="/raum33a">Weg vom Schreibtisch?</a><br>'    
    %>
    <%=@room%>
  </p>
</table>