<div id="telefon" style="width:400px;margin:auto;align:center;">
<h1 align=center>Das Telefon...</h1>
<table align=center>
  <p align=center>Welche Nummer willst Du w&auml;hlen:</>
  <form align="center" action="telefonieren" method="post">
          <br>
   <input align=right type="text" name="nummer" autofocus="autofocus"/><br>
   <br>
   <input align=right type="submit" value="wählen"/>
   <br><br/><a href="#" onclick="history.go(-1)">Zurück</a></p>
  </form></table>
    
</div>