<body style="background:#aaa;">
<div id="room">
<table align="center" >
  <h1 align="center">Die Truhe</h1>
  <div style="width:30em;margin:0 auto;border:solid black;border-radius: 25px">
    <pre></pre>
</div>  <p align="center">
    <% 
    @room='In der Truhe ist:<br><br>'
    @inventar=''
    @roomf='<br>Willst Du:<br><br>'
    
    
    
    if session['goldbarren'] =='truhe' then @inventar+='<a href="/truhe/add/goldbarren" class="post">ein Goldbarren</a><br>' end
    if session['goldbarren'] =='1' then @roomf+='<a href="/truhe/add/goldbarren" class="post">den Goldbarren in die Truhe legen</a><br>' end
    if session['saege'] == 'truhe' then @inventar+='<a  href="/truhe/add/saege" class="post">eine Säge</a><br>' end
    if session['saege'] == '1' then @roomf+='<a  href="/truhe/add/saege" class="post">die Säge in die Truhe legen?</a><br>' end
    if session['draht'] == '2' then @roomf+='<a class="link" href="polltruh">den Zettel mit Pollers Nummer in die Truhe tun?</a><br>' end
    if session['draht'] == 'truhe' then @inventar+='<a class="link" href="polltruh">der Zettel mit der Nummer von Poller</a><br>' end
    if session['holzwolle'] =='1' then @roomf+='<a href="/truhe/add/holzwolle" class="post">die Holzwolle in der Truhe verstauen?</a><br>' end
    if session['holzwolle'] =='truhe' then @inventar+='<a href="/truhe/add/holzwolle" class="post">ein bißchen Holzwolle</a><br>' end
    if session['map1'] == '1' then @roomf+='<a href="/truhe/add/map1" class="post">die KellerKarte in die Truhe schmeissen?</a><br>' end
    if session['map1'] == 'truhe' then @inventar+='<a href="/truhe/add/map1" class="post">die KellerKarte</a><br>' end
    if session['unterlagen'] == 'truhe' then @inventar+='<a href="/truhe/add/unterlagen" class="post">ein Haufen sinnloser Unterlagen</a></form><br>' end
    if session['unterlagen'] == '1' then @roomf+='<a href="/truhe/add/unterlagen" class="post">den Haufen sinnloser Unterlagen in die Truhe packen?</a></form><br>' end
    if @inventar=='' then @inventar='nichts...<br><br>' end
    @roomf+='<a class="link" href="raum36">zurück</a><br>'
    %>
    <%=@room%>
    <%=@inventar%>
    <%=@roomf%>
  </p></form>
</table>
</div>
</body>
