<table align=center>
  <p align=center><h1>Dein Walkman<br></h1>
  <%
    @lieder='Was möchtet Du gerne hören:<br><br>'
    if session['intro'] == '1' then @lieder+='<a class="link" href="/intro">Intro</a><br>' end
    if session['kandahar'] == '1' then @lieder+='<a class="link" href="/radio1">Kandahar</a><br>' end
    if session['durchbruch'] == '1' then @lieder+='<a class="link" href="/mottek">Durchbruch</a><br>' end
  	if session['arrogant'] == '1' then @lieder+='<a class="link" href="/arrogant">Viel zu arrogant</a><br>' end
  	if session['sonnenherzen'] == '1' then @lieder+='<a class="link" href="/sonnenherzen">Sonnenherzen</a><br>' end
  	if session['geb'] == '1' then @lieder+='<a class="link" href="/geb">Sophie & Peter</a><br>' end
  	if session['logout'] == '1' then @lieder+='<a class="link" href="/logout">log_out</a><br>' end
  	if session['kaefer'] == '1' then @lieder+='<a class="link" href="/kaefer">karl</a><br>' end
  %>
  <%=@lieder%>
  <a href="#" onclick="history.go(-1)">Zurück</a>
  </table>