<object data="/12-intro.ogg" width="0" height="0">oggFile</object>
<table align="center" >
      <h1 align="center">Das Zweitgolf Text-Adventure</h1>
      <p align="center">Hallo <%=session['name']%> und willkommen beim...</p>
      <div style="width:30em;margin:0 auto;"><pre><%=@room.viewp%></pre></div>
      <p align="center"><%=@room.linesp%></p>
      </table>
   
