/*<br clear="all" />
 */
@font-face {
    font-family: 'tagged04';
    src:url('/fonts/tagged04a.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }

h1 {
	font-family:'tagged04';
	font-size: 54px;
	text-decoration: simple;
}

#garten{
	width: 650px;
	background: white;
	border: dashed 20px black;
	border-radius: 25px;
	margin:auto;
	margin-top: 100px;
	padding-bottom: 20px;
}

#pool{
	width: 650px;
	background: white;
	border: dashed 20px black;
	border-radius: 25px;
	margin:auto;
	margin-top: 50px;
}

#room{
	width: 650px;
	background: white;
	border: dashed 20px #000;
	border-radius: 25px;
	margin:auto;
}

#map{
	background-image: url(map.png);
}
